.slider-root {
  /* width: 300px;
  height: 300px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;   */
      scroll-behavior: smooth;
      height: 600px
}
.slider-root-slid  {
  /* width: 300px;
  flex-shrink: 0;
  height: 100%; */
}

.slider-root p{
	color: black;
font-size: 12px;
}

.btn-slide{
  size: 1cm;
  margin: 15px;
}