html, body{
	height: 100%;
	max-width: 100%;
}

.btn-outline-light:hover {
	color: #1a1a1a;
}

.btn-outline-dark:hover {
	background-color: #1a1a1a;
}

.btn {
	margin: 0.2em;
}

.capa {
	position: relative;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.capa .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.80;
	filter: alpha(opacity=90);
}

.capa .container{
	margin: 0 auto;
	text-align: center;
	z-index: 2;
}

#inicio {
	background: url("../img/root-rsi-cover.jpg") center center no-repeat;
	background-size: cover;
}

#inicio img{
	height: 6rem;
}

#sobre, #cronograma{
	padding: 6rem 0 4rem 0;
	text-align: center;

}

#sobre img{
	opacity: 80%;
	margin-top: 4em;
	margin-bottom: 4em;
	height: 10em;
	filter: opacity(90%);
}

#contato {
	padding: 4rem 0 2rem 0;
	text-align: center;
}

#contato a{
	color: #1a1a1a;
}

#footer {
	color: white;
	text-align: center;
	background-color: #1a1a1a;
	padding: 2em 0 1em 0;
}

@media (max-width: 576px){
	.display-3, .display-1{
		font-size: 3em;
	}
}

