html, body{
	height: 100%;
	max-width: 100%;
}
.btn-outline-light:hover {
	color: #1a1a1a;
}

.btn-outline-dark:hover {
	background-color: #1a1a1a;
}

.btn {
	margin: 0.2em;
}

.capa {
	position: relative;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.capa .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.50;
	filter: alpha(opacity=90);
}

.capa .container{
	margin: 0 auto;
	text-align: center;
	z-index: 2;
}

#inicio {
	background: url("../img/root-main-cover.jpg") center center no-repeat;
	background-size: cover;
}

#sobre{
	background: transparent;
}

#sobre, #convidados, #cronograma, #local{
	padding: 6rem 0 6rem 0;
	text-align: center;
	background: white;
	color: black;
}

#cronograma .nav-link {
	color: #000;
}

#cronograma .active {
	font-weight: bold;
}

#cronograma .card-header, .card-body{
	text-align: left;
	background-color: #fff;
}

#cronograma .card {
	word-wrap: break-word;
	font-weight: normal;
	margin: 1rem 0 1rem 0;
}

.btn {
	max-width: 100%;
}

#sobre h3 {
	padding-bottom: 4rem;
}

#atividades {
	padding: 6rem 0 6rem 0;
	text-align: center;
	background: black;
	color: white;
}

#atividades img{
	margin: 5em 0 2em 0;
	height: 8em;
}

#footer {
	color: white;
	text-align: center;
	background-color: black;
	padding: 2em 0 1em 0;
}

#footer img{
	margin: 2em 2em 2em 2em;
}

@media (max-width: 576px){
	.display-3{
		font-size: 3em;
	}
	.display-1{
		font-size: 2em;
	}
}
